<div style="margin-top:5%">


To facilitate the orientation process, each residential college of Rice University distributes a booklet to incoming students that introduces them to the leaders (so-called "O-Week advisors") of their future communities.
Superficially, the publication seems a little facetious. More often than not, it confuses new students by expounding on the inside jokes, out-of-context quotes and zany escapades accumulated by three generations of Rice inhabitants.
    <br>
    <br>
    And yet, precisely because of this, it is touching in its own way. In writing my bio, for instance, my good friend Daniel Williams managed to capture the essence of my existence rather beautifully. Keep in mind this was written before I began my formal study of computer science.
    <br>
    <br>
    "Sujay Tadwalkar just might be the best O-Week advisor you could ever wish for. Philosophy major by day, electrical engineering major by night, tabla player on the weekends, he is a modern day renaissance man, and he can tell you all about the beliefs of that time period too. He can take a Shakespeare reference and turn it into a pun involving Spongebob with great skill, and you’ll be groaning for days every time you think about it. He can regale you with tales of his Californian escapades, all filled with excitement, boba tea, and even more puns. He can peer into the depths of the philosophy of Descartes, Nietzsche, Hume, and many other great philosophers, all while making still more puns. Pretty much, Sujay just really loves puns. Whether it be Frozen, Laplace transforms, or Kendrick Lamar, Sujay can talk to almost anyone about almost anything, and with him [in your life] there will never be a dull moment."
</div>