<h5 class="centered"> What I've been reading </h5>
<br>
<div ng-repeat="item in controller.reads" style="padding-bottom:15px">
    <div class="readBoundingBox">
        <div class="row">
            <div class="u-full-width centered">
                <h5><a target="_blank" href={{item.resolved_url}}> {{item.resolved_title}}</a></h5>
            </div>
        </div>
        <div class="row">
            <img class="u-max-full-width readsImage" src="{{item.image.src}}">
        </div>
        <br>
        <div ng-show="{{item.excerpt != ''}}">
        <div class="row">
            <div class="ten columns offset-by-one centered">
                {{item.excerpt}}
            </div>
        </div>
        <br>
        <br>
        </div>
        <div class="row">
            <p class="author">  &nbsp;&nbsp; {{item.author}}</p>
            <p class="date"> {{item.displayDate}} &nbsp;&nbsp;</p>
        </div>
    </div>
</div>