<center> <h5> What I've been reading</h5> </center>
<br>
<div ng-repeat="item in controller.reads" style="padding-bottom:15px">
    <div style="border: 1px solid #d1d0c9; padding-top:10px; padding-left:10px; padding-right:10px; padding-bottom:10px">
        <div class="row">
            <div class="u-full-width" style="text-align:center">
                <h5><a href={{item.resolved_url}}> {{item.resolved_title}}</a></h5>
            </div>
        </div>
        <div class="row">
                <img class="u-max-full-width" src="{{item.image.src}}" style="align: center; padding-left: 20px; padding-right:20px;">
        </div>
        <br>
        <div ng-show="{{item.excerpt != ''}}">
        <div class="row">
            <div class="ten columns offset-by-one" style="text-align:center">
                {{item.excerpt}}
            </div>
        </div>
        <br>
        <br>
        </div>
        <div class="row">
            <div class="nine columns" style="text-align:left">
                &nbsp;&nbsp; {{item.author}}
            </div>
            <div class="three columns" style="text-align:right">
                {{item.displayDate}}&nbsp;&nbsp;
            </div>
        </div>
    </div>
</div>