<div>
    <form class="tablabgimg" ng-show="controller.showForm" ng-submit="controller.submitForm()">
        <h3 style="text-align:center">Tabla Notes Database</h3>
        <br>
        <div class="row" ng-repeat="key in controller.keys">
            <div class="ten columns offset-by-one">
                <label for="{{key}}">{{key}}</label>
                <select class="u-full-width" id="{{key}}" ng-model="controller.model[key]">
                    <option ng-repeat="value in controller.getValues(key)">{{value}} </option>
                </select>
            </div>
        </div>
        <input class="button-primary" type="submit" value="Submit">
    </form>
    <div ng-hide="controller.showForm">
        <div ng-repeat="comp in controller.compositions track by $index" style="white-space:pre-wrap;">
            <strong><h4> {{$index+1}}.  {{comp.taal}} taal, {{comp.gharana}} {{comp.comp}} </h4></strong>
            {{comp.bols}}
            <br>
        </div>
    </div>
    <div ng-show="controller.displayError">
        <h5>No composition was found that meets the specified parameters.</h5>
    </div>
</div>