div h1 {
    margin-bottom: 1.0rem;
}

div h5 {
    margin-bottom: 0.25rem;
}

div h1, h5 {
    text-align: center;
}

h5 a {
    text-decoration: none;
}

body .container {
    max-width: 1200px;
}

html {
  overflow-y: scroll;
}