div h1 {
    margin-bottom: 1.0rem;
}

div h5 {
    margin-bottom: 0.25rem;
}

div h1, h5 {
    text-align: center;
}

h5 a {
    text-decoration: none;
}

body .container {
    max-width: 1140px;
}

html {
  overflow-y: scroll;
}

.rel {
  position: fixed;
}

.centered {
  text-align: center;
}

#sidebar {
    margin-top: 23%;
}

#content {
    margin-top: 18%;
}

.author {
    text-align: left;
    width: 49%;
    display: inline-block;
}

.readBoundingBox {
    border: 1px solid #d1d0c9;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;

}

.readsImage {
    align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.date {
    text-align: right;
    width:50%;
    display: inline-block;
}

@media screen and (max-width: 550px) {
    .rel {
        position: relative;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 3.3rem;
    }
    h5 {
        font-size: 2.0rem;
    }
    #sidebar {
        margin-top: 10%;
    }
    #content {
        margin-top:9%
    }
}

@media screen and (max-width: 1200px) {
    .excerpt {
        display: none;
    }
}

.tablabgimg {
    background-image: url('/img/tabla_bg.png');
    background-repeat: no-repeat;
    background-position: center;
}